* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  padding: 3px 60px;
  /* position: fixed;
  z-index: 1000; */
  display: flex;
  justify-content: space-between;
  /* padding: 2px 50px; */
  position: fixed;
  align-items: center;
  top: 20px;
  left: -25px;
  right: 20px;
  border: 0px solid black;
  background-color: rgba(252, 248, 248, 0.789);
  margin-top: 1px;
  z-index: 1;
}

.list {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}

.list a {
  text-decoration: none;
  color: black;
  display: flex;
  /* justify-content: space-between; */

}

.img-div {
  width: 140px;
  height: 60px;
  display: flex;
  /* justify-content: space-between; */
}

.img-div img {
  width: 100%;
  height: 100%;
}

.logo-div {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.logo-div img {
  width: 100%;
  height: 100%;
}


#header {
  padding: 2px 30px;
  margin-top: 80px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  /* display: flex;
   flex-direction: column; */
  height: 800px;
  margin-top: 85px;
  border: 0px solid black;
  background-color: #f1faee;
  background-size: cover;
  background-image: url(84770f_a8ddca8d035d4eb4a87834fd3433dfad~mv2_d_3720_1816_s_2.jpg);
}

.header h1 {
  color: rgb(12, 12, 67);
  padding-left: 30px;
  padding-top: 60px;
  border: 0px solid black;
  /* max-width: 190px; */
  font-size: 55px;
  width: 25%;
}

.header h3 {
  color: rgb(12, 12, 67);
  padding-left: 30px;
  /* padding-top: 50px; */
  /* border: 0px solid black; */
  /* max-width: 290px; */
  font-size: 20px;
  width: 25%;
}

.header button {
  background-color: #ea0707;
  color: #f2ecec;
  font-size: 20px;
  /* height: 50px;
  width: 12%; */
  font-weight: lighter;
  padding: 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  border-radius: 5px;
  /* margin-top: 100px; */
  /* justify-content: 20PX; */
  text-align: center;
  position: absolute;
  left: 30px;
  text-align: center;
  bottom: 90px;
}

.header button:hover {
  background-color: #94140d;
  color: #f1faee;
  transition: all 0.3s ease-in-out;
}

/* #collection{
  padding: 2px 30px;
   */


.coll {
  position: relative;
  float: left;
  width: 30%;
  /* margin-left: 30px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 2px 30px; */
  height: 400px;
  border: 1px solid black;
  background-size: cover;
  margin-top: 30px;
  background-image: url(photos/82fcd3_96d44a9d74054006a7b9ccd5fcec4637~mv2_d_4418_3073_s_4_2\ \(1\).jpg);
}

.coll h1 {
  color: rgb(239, 239, 243);
  padding-left: 30px;
  padding-top: 60px;
  border: 0px solid black;
  max-width: 190px;
  font-size: 28px;
}

.coll h3 {
  color: rgb(243, 243, 245);
  padding-left: 30px;
  padding-top: 50px;
  border: 0px solid black;
  max-width: 290px;
  font-size: 18px;
}

.btn button {
  padding: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;

}

.btn {
  margin-left: 30px;
  margin-top: 10px;
}

.coll button:hover {
  background-color: #94140d;
  color: #f1faee;
  transition: all 0.3s ease-in-out;
}


.tents {
  position: relative;
  float: left;
  width: 69%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  /* padding: 2px 30px; */
  height: 400px;
  border: 1px solid black;
  margin-top: 30px;
  background-size: cover;
  margin-left: 11px;
  background-image: url(photos/82fcd3_f158f908b5da4ae1aaec990543c59c22~mv2_d_3861_2574_s_4_2\ \(1\).jpg);
}

.tents h1 {
  color: rgb(239, 239, 243);
  padding-left: 5px;
  padding-top: 60px;
  border: 0px solid black;
  max-width: 200px;
  font-size: 35px;
}

.tents h3 {
  color: rgb(243, 243, 245);
  padding-left: 5px;
  padding-top: 50px;
  border: 0px solid black;
  max-width: 290px;
  font-size: 18px;
}

.btn2 button {
  padding-inline: 25px;
  padding-block: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn2 {
  margin-left: 10px;
  margin-top: 10px;
}

.tents button:hover {
  background-color: #94140d;
  color: #f1faee;
  transition: all 0.3s ease-in-out;
}


.adventure {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  /* padding: 2px 30px; */
  /* height: 450px; */
  border: 1px solid black;
  margin-top: 30px;
  background-size: cover;
  height: 400px;
  /* margin-left: 11px; */
  background-image: url(photos/82fcd3_f12b9b8f071d4189acb99204bb4096b1~mv2_d_4150_3744_s_4_2.jpg);
}

.adventure h1 {
  color: rgb(239, 239, 243);
  padding-left: 5px;
  padding-top: 60px;
  border: 0px solid black;
  width: 400px;
  font-size: 35px;
}

.btn3 {
  margin-top: 30px;

}

.btn3 button {
  margin-left: 10px;
  /* margin-top: 90px; */
  padding-inline: 25px;
  padding-block: 15px;
  color: #f1faee;
  background-color: #f81509;
  border: none;
  border-radius: 5px;
}

.adventure button:hover {
  background-color: #94140d;
  color: #f1faee;
  transition: all 0.3s ease-in-out;
}

.main {
  position: relative;
  clear: both;
  width: 100%;
  padding: 12px 12px;
  margin-top: 55px;
  background-color: #f1faee;
  /* padding-right: 20px; */
  text-align: center;
  background-size: cover;
  background-image: url(photos/82fcd3_7a9abf1cf93845128c7233ec2618ee98~mv2\ \(1\).jpg);
}

.main-display-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 20px;
}

.main h1 {
  color: rgb(5, 5, 5);
  padding-top: 60px;
  border: 0px solid black;
  font-size: 35px;
}


.btn-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;


}

.btn-0 button {
  padding: 15px 10px;
  background-color: rgb(13, 13, 71);
  color: white;
  margin-bottom: 19px;
}

.btn-0 button:hover {
  background-color: blue;
}


.footer{
  width: 100%;
  height: auto;
}
.footer h1{
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.img{
 display: flex;
 flex-direction: row;
 gap: 15%;
 text-align: center;
 margin-top: 25px;
}
.img1{
  width: 300px;
  height: 300px;
}
.img1 img{
  width: 100%;
  height: 100%;
}
.img2{
  width: 300px;
  height: 300px;
}
.img2 img{
  width: 100%;
  height: 100%;
}
.img3{
  width: 300px;
  height: 300px;
}
.img3 img{
  width: 100%;
  height: 100%;
}
.old-price{
  text-decoration: line-through;
}
.img4{
  width: 300px;
  height: 300px;
}
.img4 img{
  width: 100%;
  height: 100%;
}
.button1 button{
  background-color: #ea0707;
  color: rgb(252, 249, 249);
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
}
.button1 button:hover{
  background-color: #94140d;
}
.button2 button{
  background-color: #ea0707;
  color: rgb(252, 249, 249);
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
}
.button2 button:hover{
  background-color: #94140d;
}
.button3 button{
  background-color: #ea0707;
  color: rgb(252, 249, 249);
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
}
.button3 button:hover{
  background-color: #94140d;
}
.button4 button{
  background-color: #ea0707;
  color: rgb(252, 249, 249);
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 5px;
}
.button4 button:hover{
  background-color: #94140d;
}
.buttn button{
   padding: 12px 10px;
  background-color: #ea0707;
  color: white;
 margin-top: 12%;
  margin-left: 50%;
}
.image1{
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap ;
  /* width: 22%; */
  flex-direction: row;
  justify-content: center;
}
.i1 img{
  width: 100%;

}
.i1{
  width: 22%;
  display: flex;
  flex-wrap: wrap;
}
.bg{
  width: 100%;
  height: 500px;
  background-image: url(82fcd3_2caf6bff17514f349c52c29d69f37e61~mv2\ \(1\).jpg);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer2{
  width:15%;
  height: 500px;
  border: 0px solid white;
  color: white;
  
}
.l1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.l2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.l3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.l4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}
.l5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  
}
.mainspan{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.mainspan1{
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.bttn button{
  align-items: center;
 padding: 15px 15px;
  background-color: #ea0707;
  color: white;
 /* margin-top: 0.2px; */
  margin-left: 5%;
}











@media(max-width:1024px) {
  .nav {
    padding: 10px 20px;
  }

  .list {
    gap: 20px;
  }

  .list a {
    font-size: 18px;
  }

  .img_div img {
    width: 120px;
  }

  .header {
    height: 600px;
  }

  .header h1 {
    font-size: 36px;

  }

  .header h3 {
    font-size: 20px;
  }

  .header button {
    padding: 5px 12px 25px 20px;
    font-size: 16px;
  }

  .coll {
    height: 350px;
    width: 100%;
  }

  .coll button {
    height: 50px;
    /* width: 47%; */
  }

  .tents {
    width: 100%;
  }
.main-display-flex{
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  /* margin-top: 10px; */
}

.mainspan{
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
.mainspan1{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
}


@media (max-width:768px) {
  .header {
    height: 400px;
  }

  .header h1 {
    font-size: 25px;
  }

  .header button {
    padding: 10px 20px;
    font-size: 10px;
  }

  .coll {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tents {
    width: 100%;
  }

  .adventure {
    width: 100%;
  }

  .main {
    height: 300px;
    font-size: 12px;
    flex-direction: column;
    width: 100%;
  }
  .img{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:90px;
}
.button--1{
  margin-top: 15px;
  color: #ea0707;
}
.buttn{
  margin-top: 50px;
  display: flex;
  margin-right: 65px;
}
.i1{
  width: 50%;
}
.i1 img{
  width: 100%;
}
}

@media (min-width:1025px) and (max-width:1097px) {
  .coll {
    width: 100%;
  }

  .tents {
    width: 100%;
  }

}

@media (min-width:300px) {
  .coll button {
    padding-block: 15px;
    padding-inline: 10px;
    text-align: center;
    font-size: 12px;
    /* margin-top: 50px; */
  }
  .main{
   height: auto;
  }

}